<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Alta de producto</h1>

    <form action="/products" method="post" novalidate autocomplete="off">
        <div>
            <label for="">Título del producto</label>
            <input type="text" name="title">
        </div>
        
        <div>
            <label for="">Descripción</label>
            <textarea name="description"></textarea>
        </div>
        
        <div>
            <label for="">Modelo</label>
            <input type="text" name="model">
        </div>

        <div>
            <label for="">Precio</label>
            <input type="number" name="price" min="0">
        </div>

        <div>
            <label for="">Marca</label>
            <select name ="brand">
                <!-- value es lo que se guarda en la db -->
                <option value="167">Samsung</option> 
                <option value="256">LG</option>
                <option value="368">Apple</option>
                <option value="468h">Sony</option>
                <option value="546u">Cptn. del Espacio</option>
            </select>
        </div>

        <div>
            <label for="">Stock</label>
            <input type="number" name="stock" min="1">
        </div>

        <div>
            <label for="">Vendedor</label>
            <input type="text" name="seller_id">
        </div>

        <div>
            <label for="">Vendidos</label>
            <input type="number" name="sold_count" min="0">
        </div>
        
              
        <div>
            <button>Enviar</button>
        </div>


    </form>

</body>
</html>